/*Colores*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.boton {
  border-radius: 0;
  padding: 8px 16px;
  border: 0;
  margin: 5px 0;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
}
.botonPrimario {
  background-color: #fff;
  color: #000;
}
.botonSecundario {
  background-color: #000;
  color: #fff;
}

.btn {
  font-weight: 600;
}

.btn-light:hover {
  background-color: #ffeb07;
  color: #000;
  border-color: #ffeb07;
  transition: 0.3s all;
}

.tituloPagina {
  background-image: url(../img/Fondo-de-rayas-pegadas.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
  background-color: #000;
}
.tituloPagina h1 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  padding: 50px 0;
  animation: titulos 1s;
}

@keyframes titulos {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*Logo encabezado*/
a .logo-img {
  width: 100px;
}

.contenido {
  text-align: left;
}
.contenido__historia {
  text-align: center;
}

.navbar {
  background-color: #000;
  padding: 15px;
  text-align: center;
}
.navbar .navbar-toggler {
  background-color: #fff;
}
.navbar .nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.navbar .nav-link:hover {
  color: #ffeb07;
}
.navbar .nav-link.active {
  color: #ffeb07;
}

.offcanvas-title {
  color: #000;
  font-weight: 700;
}

.btn-close {
  color: #fff;
}

.hero {
  background-image: url(../img/fondo_inicio.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 250px;
  padding-bottom: 250px;
  margin: auto;
}
.hero__contenido {
  width: 1140px;
  margin: auto;
  text-align: left;
}
.hero__titulo {
  color: #fff;
  font-weight: 700;
  font-size: 40px;
}

.contenido__galeria img.card-img-top:hover {
  transform: scale(1.25);
  z-index: 5;
  transition: all 0.7s;
}

footer {
  background-color: #000;
  padding: 25px 15px;
}
footer h5 {
  color: #fff;
  font-weight: 700;
}
footer img {
  width: 150px;
}
footer .footer__caja {
  margin: 25px 0;
}
footer .footer__caja__lista {
  list-style: none;
  padding-left: 0;
}
footer .footer__caja__lista a {
  color: #fff;
  text-decoration: none;
}
footer .footer__caja__lista a:hover {
  color: #ffeb07;
  text-decoration: none;
}

@media (max-width: 576px) {
  .offcanvas.offcanvas-end.bg-dark {
    background-color: #fff !important;
  }
  .navbar .nav-link {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.25rem;
  }
  .navbar .nav-link:hover {
    color: #ffeb07;
  }
  .hero {
    background-position: center right;
  }
  .hero__titulo {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
  }
  .contacto__formulario {
    width: 100%;
    background-color: #fff;
    padding: 25px 15px;
    margin: auto;
  }
  footer {
    text-align: center;
  }
  footer ul {
    text-align: left;
  }
}

/*# sourceMappingURL=estilos.css.map */
