@import 'variables';
@import 'generales';
@import 'header';
@import 'index';
@import 'galeria';
@import 'footer';

@media (max-width: 576px) {
     .offcanvas.offcanvas-end.bg-dark{
          background-color: $white !important;
     }
     .navbar{
          .nav-link{
               color:$black;
               text-decoration: none;
               font-weight: 600;
               font-size: 1.25rem;
               &:hover{
                    color:$amarillo;
               }
          }
     }
     .hero{
          background-position: center right;
          &__titulo{
               color:$white;
               font-weight: 700;
               font-size: 20px;
          }
     }
     .contacto__formulario{
          width: 100%;
          background-color: $white;
          padding: 25px 15px;
          margin: auto;
     }
     footer{
          text-align: center;
          ul{
               text-align: left;
          }
     }
 }